<div class="layui-tab">
    <ul class="layui-tab-title">
        {{!-- <li class="layui-this">中移在线一体化项目实时监控</li> --}}
        <li class="layui-this">计划实施管理</li>
        <li>实施问题管理</li>
        <li>各省计划导入</li>
    </ul>
    <div class="layui-tab-content">
        {{!-- <div class="layui-tab-item layui-show">
            <iframe frameborder="0" id="iframe" style="width:100%;" scrolling="no" src="main.html"
                    onload="iframeLoad();"></iframe>
        </div> --}}
        <div class="layui-tab-item layui-show">
            <iframe frameborder="0" scrolling="no" style="width:100%;min-height:900px;" src="plan.html"
                    onload="iframeLoad();"></iframe>
        </div>
        <div class="layui-tab-item">
            <iframe frameborder="0" scrolling="no" style="width:100%;min-height:900px;" src="problem.html"></iframe>
        </div>
        <div class="layui-tab-item ">
            <iframe frameborder="0" scrolling="no" style="width:100%;min-height:400px;" src="upload.html"></iframe>
        </div>
    </div>
</div>