<ul class="layui-nav" style="text-align: right;">
    <li class="layui-nav-item" style="margin-right: 30px;">
        <a href="/ngwf/main.html"  target="_blank" >管理功能</a>
    </li>
    <li class="layui-nav-item" style="margin-right: 30px;">
        管理功能
        <dl class="layui-nav-child">
            <dd style="text-align: center;"><a href="javascript:void(0);" id="changePassword"
                                               name="changePassword">修改密码</a></dd>
            <dd style="text-align: center;"><a href="javascript:void(0);" id="logoff" name="logoff">退出</a></dd>
        </dl>
    </li>
</ul>
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">计划实施管理</li>
        <li>实施问题管理</li>
        <!--<li>各省计划导入</li>-->
    </ul>
    <div class="layui-tab-content">
        {{!-- <div class="layui-tab-item layui-show">
            <iframe frameborder="0" id="iframe" style="width:100%;" scrolling="no" src="main.html"
                    onload="iframeLoad();"></iframe>
        </div> --}}
        <div class="layui-tab-item layui-show">
            <iframe frameborder="0" scrolling="no" style="width:100%;min-height:900px;" src="plan.html"
                    onload="iframeLoad();"></iframe>
        </div>
        <div class="layui-tab-item">
            <iframe frameborder="0" scrolling="no" style="width:100%;min-height:900px;"
                    src="problem.html"></iframe>
        </div>
        <!--<div class="layui-tab-item ">-->
            <!--<iframe frameborder="0" scrolling="no" style="width:100%;min-height:400px;" src="upload.html"></iframe>-->
        <!--</div>-->
    </div>
</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
