<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">中移在线一体化项目实时监控</li>
        <li>导入数据</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <iframe frameborder="0" id="iframe" style="width:100%;" scrolling="no" src="main.html"
                    onload="iframeLoad();"></iframe>
        </div>
        <div class="layui-tab-item">
            <iframe frameborder="0" scrolling="no" style="width:100%;" src="upload.html"></iframe>
        </div>
    </div>
</div>