<h1>中移在线一体化项目实时监控</h1>
<div class="control">
    <p>
        <span class="map active">地图展示</span>
        <span class="list">列表展示</span>
    </p>
</div>
<div class="content">
    <div class="map">
        <div id="map" class="map"></div>
        <div id="info" class="info"></div>
    </div>
    <div id="list" class="list" style="display: none;"></div>
</div>
