<div class="layui-container" style="padding-top:20px;">

    <form class="layui-form login" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名:</label>
            <div class="layui-input-block">
                <input id="_username" type="text" name="_username" readonly="readonly" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码:</label>
            <div class="layui-input-block">
                <input type="password" id="_password" name="_password" lay-verify="pass" placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-primary" lay-submit>提交</button>
                <button type="reset" class="layui-btn layui-btn-normal">取消</button>
            </div>
        </div>
    </form>
</div>