<script type="text/html" id="barEdit">
     <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="edit">修改计划</a>
</script>
<table class="layui-table" lay-data="{height:800, url:'/taskInfo'}">
    <thead>
    <tr>
        {{!-- <th lay-data="{field:'id', width:80}">ID</th> --}}
        <th lay-data="{field:'step', width:400}">阶段</th>
        <th lay-data="{field:'progressPercent', width:100,edit:'text'}">进度</th>
        <th lay-data="{field:'responsiblePerson', width:320}">负责人</th>
        <th lay-data="{field:'plannedStartTime', width:120,edit:'text'}">计划开始时间</th>
        <th lay-data="{field:'plannedEndTime', width:120,edit:'text'}">计划结束时间</th>
        <th lay-data="{field:'plannedStartTime', width:120,edit:'text'}">实际开始时间</th>
        <th lay-data="{field:'plannedEndTime', width:120,edit:'text'}">实际结束时间</th>
        <!--<th lay-data="{fixed: 'right', width:160, align:'center', templet: '#edit'}">操作</th>-->
        <th lay-data="{fixed: 'right', width:160, align:'center', toolbar: '#barEdit'}">操作</th>
    </tr>
    </thead>
</table>