<script type="text/html" id="barState">
    <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="close">关闭</a>
    <a class="layui-btn layui-btn-mini" lay-event="open">开启</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="pending">挂起</a>
</script>
<!--<blockquote class="layui-elem-quote">直接编辑文本即可修改问题状态<i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe607;</i>-->
<!--</blockquote>-->
<div class="layui-btn-group">
    <button class="layui-btn" id="add" name="add">上报问题</button>
</div>
<table class="layui-table" lay-data="{id: 'mainProblem',height:450, url:'/problemInfo'}" id="problemTable">
    <thead>
    <tr>

        <th lay-data="{field:'proposes', width:200,sort: true}">问题类型</th>
        <th lay-data="{field:'questioner', width:100}">问题提出人</th>
        <th lay-data="{field:'describe', width:300}">问题/风险/求助描述</th>
        <th lay-data="{field:'why', width:300,edit:'text'}">症结原因【可编辑】</th>
        <th lay-data="{field:'solution', width:300,edit:'text'}">解决方案【可编辑】</th>

        <th lay-data="{field:'priority', width:135, sort: true}">优先级</th>
        <th lay-data="{field:'state', width:80, sort: true}">状态</th>
        <th lay-data="{field:'belong', width:80, sort: true}">问题归属</th>
        <th lay-data="{field:'belongPerson', width:80, sort: true}">问题处理人</th>
        <th lay-data="{field:'expectedResolutionDate', width:120}">期望解决日期</th>
        <th lay-data="{field:'remark', width:135}">备注</th>


        <th lay-data="{field:'problemDate', width:120, sort: true}">产生日期</th>
        {{!-- <th lay-data="{field:'id', width:80,checkbox: true}">ID</th> --}}
        <th lay-data="{field:'groupType', width:90}">组别</th>
        <th lay-data="{field:'taskId', width:80}">关联任务编号</th>
        <th lay-data="{field:'theLatestSettlementDate', width:120, sort: true}">最晚解决日期</th>
        <th lay-data="{field:'innerOuter', width:80, sort: true}">内部/外部</th>
        <th lay-data="{field:'subjectType', width:80, sort: true}">类别</th>
        <th lay-data="{field:'progressAndResults', width:120}">进展及结果</th>
        <th lay-data="{field:'responsible', width:120}">处理责任人</th>
        <th lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#barState'}">操作</th>
    </tr>
    </thead>
</table>
