<div class="layui-container">
    <h1>上报问题</h1>
  </div>
    <div class="form layui-form">
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">问题描述</label>
        <div class="layui-input-block">
          <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
      </div>
    </div>
  </div>
    <div class="layui-form-item">
      <label class="layui-form-label">选择所属计划</label>
      <div class="layui-input-block">
        <input type="text" name="title" required lay-verify="required" placeholder="选择所属计划" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
    <div class="layui-form-item">
      <label class="layui-form-label">期望解决人</label>
      <div class="layui-input-block">
        <input type="text" name="title" required lay-verify="required" placeholder="请手工填写" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
    <div class="layui-form-item">
      <label class="layui-form-label">期望解决时间</label>
      <div class="layui-input-block">
        <input type="text" name="title" required lay-verify="required" placeholder="请输入时间" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
    <div class="layui-form-item">
      <label class="layui-form-label">提出人</label>
      <div class="layui-input-block">
        <input type="text" name="title" required lay-verify="required" placeholder="请输入提出人" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formDemo">提交</button>
        <button type="reset" class="layui-btn layui-btn-normal">取消</button>
      </div>
    </div>
  </div>
</div>